<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Customize Wheel</title>
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="/">Wheel</a></li>
        <li><a href="/customize">Customize</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <h1>Customize Wheel</h1>
    <section>
      <form>
        <ul>
          <li>
            <input type="text"/>
          </li>
          <li>
            <button type="submit">Submit</button>
          </li>
        </ul>
      </form>
    </section>
  </main>
</body>
</html>